<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.any" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_dialog_info"
        android:label="@string/app_name"
        android:theme="@style/Theme.AceTag">
        <activity
            android:name=".InventoryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WriteSpoolActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".ReadTagActivity"
            android:exported="false"
            android:launchMode="singleTop" />
        <activity
            android:name=".SpoolDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ColorPickerActivity"
            android:exported="false"
            android:theme="@style/Theme.AceTag" />
    </application>
</manifest>
